* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #000;
    text-decoration: none;
}

.tabmenu {
    margin: 10px;
    width: 600px;
    display: flex;
    position: relative;
}

.tabmenu > li {
    width: 200px;
    height: 40px;
}

.tabmenu > li > a {
    width: 200px;
    height: 40px;
    border: 1px solid;
    display: block;
    text-align: center;
    line-height: 40px;
}

.tabmenu > li:nth-child(2) > a {
    border-left: 0px;
    border-right: 0px;
}

.tabmenu > li > a:hover {
    background-color: gold;
}

.tabmenu > li.active {
    background-color: lightgray;
}

.tabmenu > li > div {
    width: 600px;
    height: 0px;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 40px;
}

.tabmenu > li.active > div {
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 1px solid;
    border-top: 0px;
}